*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
}

h4{
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}
h6{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h1{
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}
button{
  font-family: "Lato", sans-serif;
  font-style: italic;
}
.about{
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 20px;
}